

<div class="container">
    <form action="/api/productos/" method="get">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" class="form-control" id="nombre">
        </div>
        <button  type="submit"  class="btn btn-primary">Guardar</button>
    </form>
</div>

